.forecast-summary {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 4rem;
  border-radius: 15px;
  text-align: center;
}
.forecast-summary__date {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.forecast-summary__icon {
  font-size: 4rem;
}
.forecast-summary__temperature {
  font-weight: bold;
}
.forecast-summary__description {
  font-weight: bold;
}
.forecast-summary button {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
}
.forecast-summary button:hover {
  background: #fbb730;
}
