.forecast-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 4rem;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}
.forecast-summary__date {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.forecast-summary__icon {
  font-size: 4rem;
}
.forecast-summary__temperature {
  font-weight: bold;
}
.forecast-summary__description {
  font-weight: bold;
}
.forecast-summary button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1.3rem 2rem;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.forecast-summary button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
